body{
    background-color: #f6f7fb !important;
}

.cont-c{
    background: white;
}

.h-n{
    margin-top: 20px !important;
    margin-left: 20px;
}

.h-n a{
    text-decoration: none;
}

.hr-w{
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    border-width: 4px;
}

.text-c{
    color: #5a80b1;
    margin: 0;
    font-size: 35px;
    
}

.text-p{
    color: #666666;
    font-size: 20px;
}

.no-p{
    padding: 0 !important;
}

.header-nav{
    list-style-type: none;
    margin-top: 30px;
    margin: 0 auto;
    margin: 0;
    padding: 0;
    background-color: #5a80b1;
}

.header-nav li{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin-left: 30px;
}

.header-nav a{
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-family:Arial, Helvetica, sans-serif;
}

.header-nav a:hover{
    color: white !important;
}

.header-nav li:hover{
    background-color: #6790c7;
}
.header-nav a:hover{
    color: rgb(209, 209, 209);
}

.h-s{
    position: relative;
}


.header-social{
    position: absolute;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    top: 27%;
    left: 20%;
    font-size: 25px;
}

.vk{
    color: #0077ff;
}

.tel{
    color: #2AABEE;
}

.ok{
    color: #ed812b;
}

.yt{
    color: #FF0000;
}

.header-social ul{
    display: inline-block;
}

.header-social li{
    display: inline;
    padding-left: 8px;
}

.header-social i:hover{
    color: #5a80b1;
    transition: 1s;
}

.header-social i:not(:hover){
    transition: .5s;
}


.header-info{
    position: absolute;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    top: 35%;
    left: 0;
    font-size: 15px;
}

.header-info ul{
    display: inline-block;
}

.header-info li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}

.header-info a{
    text-decoration: none;
    color: #333333;
}

.header-info a:hover{
    color: #5a80b1;
    text-decoration:none;
}


.like-liked{
    border: 0px;
    background: 0;
    font-size: 20px;
    transform: scale(1.2);
    transition: .2s;
    color: hsla(0, 72%, 53%, 0.548);
}

.like{
    transition: .2s;
    border: 0px;
    background: 0;
    font-size: 20px;
    color: hsla(236, 59%, 23%, 0.548);
}

.like-amount{
    margin: 0;
    padding: 0;
    font-size: 15px;
    display: inline-block;
}

.bg-image{
    background: url('/public/images/logo.png') no-repeat center;
    background-size: 100% 100%;
}

.st-m-l{
    margin-left: 20px;
    margin-bottom: 10px;
}

.st-i{
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}

.st-i-rand{
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

.st-i-rand2{
    width: 80%;
    height: 100px;
    margin-bottom: 10px;
}

.st-a{
    font-size: 20px;
    margin-left: 20px;
}

.h-h{
    color: #666666;
    text-decoration: none;
    border-bottom: 1px solid rgb(231, 229, 231);
}

.h-h-rand{
    color: #666666;
    text-decoration: none;
}

.h-h:hover{
    transition: .5s;
    color: #948532;
    border-bottom: 1px solid rgb(7, 7, 7);
}

.h-h:not(:hover){
    transition: .5s;
}

.s-m{
    margin-bottom: 50px;
}

.s-a{
    color: #8d8484d7;
}

.r-n{
    text-decoration: none;
    font-size: 18px;
    color: #6790c7;
}

.n-bor{
    border: none;
    background-color: white;
    margin-left: 3px;
}

.tox{
    margin-top: 20px;
    margin-bottom: 20px;
}

#info{
    margin-top: 5px;
}

.b-p{
    margin-bottom: 20px;
    width: 100%;
}


.p{
    height: 100%;
  width: 100%;
  position: relative;
}
.lk{
    width: auto;
    height: auto;
    position: absolute;
    top: 75%;
    left: 40%;
    margin: -50px 0 0 -50px;
    text-align: center;
    text-decoration: none;
    color: #666666;
}

.adm{
    width: auto;
    height: auto;
    position: absolute;
    top: 55%;
    left: 40%;
    margin: -50px 0 0 -50px;
    text-align: center;
    text-decoration: none;
    color: #666666;
}

.exit{
    width: auto;
    height: auto;
    position: absolute;
    top: 95%;
    left: 40%;
    margin: -50px 0 0 -50px;
    text-align: center;
    text-decoration: none;
    color: #666666;
}
.exit:hover{
    color: #2c2929;
}

.lk:hover{
    color: #2c2929;
}

.pr-t{
    margin-top: 50px;
}

.pr{
    list-style-type: none;
    padding: 0;
}

.pr li{
    padding-bottom: 5px;
}

.pr a{
    font-size: 20px;
    color: #666666;
    text-decoration: none;
}

.pr a:hover{
    transition: .5s;
    color: #e06c0d;
}

.pr a:not(:hover){
    transition: .5s;
}

.header-c{
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0;
    text-align: center;
}

.truncate-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 1.6em;
    height: 1.4em;
}

.padding-comment{
    padding-bottom: 30px;
}

.margin-comment{
    margin-top: 30px;
}

.text-size{
    font-size: 14px !important;
}

.text-size2{
    font-size: 12px !important;
    position: absolute;
}

.comment{
    margin-top: 5px;
    padding-bottom: 15px;
    font-size: 18px;
    word-wrap: break-word;
}

.load{
    width: 100%;
    background-color: #5a80b1;
    border: 0;
    border-radius: 2px;
    color: #e7e5e5;
}

.footer-nav{
    margin-top: 50px;
}
